.familyWrapp{
    margin-top:50px;
}
.titleFamily{
    margin-bottom: 30px;
    color: white;
    font-family: amazingSpider;
    text-align: center;
}
.navegationFamily{
    display: flex;
    justify-content: left;
    margin-left: 100px;
}