@font-face {
    font-family: amazingSpider;
    src: url('/public/assets/fonts/Amazing\ Spider\ Man\ slant.ttf');
}

.wrappIndex {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-right: 370px;
    border-radius: 5px;
    border: 1px solid rgba(181, 181, 181, 0.349);
    box-shadow: 0px 0px 8px 0px rgb(139, 159, 214);
    padding: 20px;
    background-color: rgb(63, 63, 63);
}

.squareIndex1,
.squareIndex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(181, 181, 181, 0.543);
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff44;
    height: 270px;
    width: 420px;
}

.strongLink{
    font-weight: bold;
    text-decoration: none;
    color: #0E2C48;
    font-family: amazingSpider;
    font-style: italic;
}

.strongLink:hover{
    color:#9c020ac5;
    filter:drop-shadow(1px 1px 1px white);
}

.paragraphIndex {
    width: 500px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: monospace;
}

.titleIndexSquare2 {
    color: #FFC700;
    font-family: amazingSpider;
    padding: 10px;
    text-align: center;
}

.unorderListIndex {
    padding: 0;
}

.listIndex {
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
}

.listIndexLink {
    text-decoration: none;
    font-family: amazingSpider;
    color: white;
}

.listIndexLink:hover {
    color: #c30d0d;
    filter:drop-shadow(1px 1px 1px white);
}

.noOficialWrapp{
    display: flex;
    width: 450px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
}

.logoSpider{
    margin-right: 20px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    bottom: 0;
}

.no-oficial{
    color: rgba(188, 188, 188, 0.304);
}