.navbar {
    width: 100%;
    height: 100px;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;

}

.collapse {
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.wrappNav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logoNavbar {
    width: 200px;
    margin-left: 25px;
}

.navbar-toggler {
    margin-right: 30px;
}

.navbar-dark .navbar-toggler {
    color: none;
    border: 1px solid;
}

#navbarSupportedContent {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.navbarButton {
    margin-right: 10px;
    background-color: #000000;
    border: 1px solid #F7BB44;
    border-radius: 3px;
    color: #FFC700;
}

.navbarButton:hover {
    color: #FFC700;
    background-color: #FFC700;
}

.nav-link {
    color: #FFC700;
}

.nav-link:focus,
.nav-link:focus-visible,
.nav-link:hover {
    color: #000000;
}

.navPersonaje {
    background-color: #FFC700;
    color: #080808;
}


.dropdown-menu{
    border: 1px solid white;
    background-color: #000000;
    color: #FFC700;
}

.dropdown-item{
    height: 40px;
    line-height: 30px;
    border-bottom: 1px solid white;
    background-color: #000000;
    color: #FFC700;
}


.dropVillanos:hover,
.dropSpiders:hover {
    background-color: #FFC700;
    color: black;
}

.allVillains,
.spiderVerse {
    background-color: #080808;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}

/* --- MEDIAS QUERY --- */

@media only screen and (max-width: 991px) {
    .logoNavbar {
        margin-left: 10px;
        width: 130px;
    }

    .container-fluid {
        padding: 0px !important;
    }

    .navbar-nav {
        width: 200px;
        margin-top: 170px;
        z-index: 1;
    }

    .dropdown-menu {
        background-color: #080808;
    }

    .navbarButton {
        width: 170px;
        margin-right: 10px;
        background-color: #000000;
        border: 1px solid #FFC700;
        border-radius: 3px;
        color: #FFC700;
        padding-left: 5px;
    }

    .navbarButtonSearch {
        background-color: #FFC700;
        padding-left: 5px;
    }

    .navPersonaje {
        background-color: #FFC700;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    a.nav-link {
        font-size: 16px;
    }

    .dropdown-item {
        font-size: 16px;
    }

    .dropdown-item.dropVillanos,
    .dropdown-item.dropSpiders {
        border-top: 1px solid rgb(230, 230, 230);
        width: 200px;
        background-color: rgb(0, 0, 0);
        font-size: 12px;
    }

    .allVillains,
    .spiderVerse {
        background-color: #080808;
        color: white;
        text-align: center;
        padding-bottom: 10px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 767px) {
    .logoNavbar {
        margin-left: 10px;
        width: 125px;
        z-index: 1;
    }

    .container-fluid {
        padding: 0px !important;
    }

    .navbarButton {
        width: 115px;
        margin-right: 10px;
        background-color: #000000;
        border: 1px solid #FFC700;
        border-radius: 3px;
        color: #FFC700;
        padding-left: 5px;
    }

    .navbarButtonSearch {
        background-color: #FFC700;
        padding-left: 5px;
    }

    .navPersonaje {
        background-color: #FFC700;
    }

    .navbar-toggler {
        margin-right: 30px;
        font-size: 0.85rem;
        padding: 5px;
    }

    ul.navbar-nav {
        width: 120px;
    }

    .navbar {
        margin-bottom: 20px;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
        background-color: #080808;
        border: 1px solid white;
    }

    .navbar-nav {
        width: 100px;
        margin-top: 170px;
        z-index: 2;
    }

    .dropdown-item {
        font-size: 14px;

    }

    .nav-link {
        padding: 5px;
    }

    a.nav-link {
        font-size: 12px;
    }

    .dropdown-item.dropVillanos,
    .dropdown-item.dropSpiders {
        border-top: 1px solid rgb(230, 230, 230);
        width: 200px;
        background-color: rgb(2, 2, 2);
        font-size: 12px;
    }

    .allVillains,
    .spiderVerse {
        background-color: #080808;
        color: white;
        text-align: center;
        padding-bottom: 10px;
        font-size: 14px;
    }

}