* {
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url('/public/assets/imagen\ Fondo/fondoHome.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100vh;
}